language: ruby
sudo: false
distro: precise
arch:
  - amd64
  - ppc64le 
rvm:
  - 2.2.5
  - 2.3.1
  - jruby-9.1.2.0
  - ruby-head
matrix:
  allow_failures:
    - rvm: ruby-head
notifications:
  irc: "irc.freenode.org#adhearsion"
